In [37]:
import sqlite3
from werkzeug.security import generate_password_hash
import pandas as pd

In [38]:
conn=sqlite3.connect('testFlask\db.sqlite')
c = conn.cursor()

In [39]:
df = pd.read_csv('parser/users.csv', sep=';')[['id', 'email', 'password', 'surname', 'name', 'place_id']]\
.astype('str')
df['password'] = list(map(lambda x: generate_password_hash(x, method='sha256'), df['password']))
df['name'] = list(map(lambda x: '' if x == 'nan' else x, df['name']))
df['full_name'] = df['surname'] + ' ' + df['name']
c.executemany("INSERT INTO user VALUES(?,?,?,?,?,?,?)", df.values)

In [40]:
df = pd.read_csv('parser/rooms.csv', sep=';')[['id', 'name', 'type', 'x', 'y', 'floor']].astype('str')
c.executemany("INSERT INTO room VALUES(?,?,?,?,?,?)", df.values)

In [41]:
df = pd.read_csv('parser/places.csv', sep=';')[['id', 'number', 'room_id']].astype('str')
c.executemany("INSERT INTO place VALUES(?,?,?)", df.values)

In [42]:
c.close()
conn.commit()
conn.close()

In [ ]:
c.execute('select * from room')
c.fetchall()

In [36]:
df

,id,email,password,surname,name,place_id,full_name
0,1,petrov.ivan@company.com,sha256$U4Ee1mS1$74f79d7424f3bc1f30df1b0d1857f8...,Петров,Иван,1,Петров Иван
1,2,komandrov.sergej@company.com,sha256$7JMuxCLu$34dc20304d181b8004a7b142052426...,Командров,Сергей,1,Командров Сергей
2,3,sapogov.artem@company.com,sha256$CuVj4rND$099078f86f06e422e9f5034f10c5ea...,Сапогов,Артем,1,Сапогов Артем
3,4,barista.@company.com,sha256$7HYduiEy$77c188122b441ec898d4e29b73809a...,Бариста,,2,Бариста
4,5,oborudovanie.@company.com,sha256$0a0E96Aj$b26fbc7f94b9eb3765725d60269adb...,Оборудование,,3,Оборудование
...,...,...,...,...,...,...,...
156,157,ilin.innokentij@company.com,sha256$qjhOXq2C$99c743fb7776bb1fd84850e3acf15d...,Ильин,Иннокентий,137,Ильин Иннокентий
157,158,schavov.mihail@company.com,sha256$UvvvcC6n$2edcb13af386f22cf8fe76ec6d8764...,Щавов,Михаил,138,Щавов Михаил
158,159,neverov.dmitrij@company.com,sha256$fpZsG4F0$dcf474ce7a2200e7f239f23384635a...,Неверов,Дмитрий,139,Неверов Дмитрий
159,160,kudrjavov.boris@company.com,sha256$AUDeItD4$dac60c4743e56ce0071cfbee1b1719...,Кудрявов,Борис,140,Кудрявов Борис
160,161,smorev.demid@company.com,sha256$M0OEuP1e$ca05c4c26f908b5d29219963ed8218...,Сморев,Демид,141,Сморев Демид